@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Site desenvolvido como projeto de conclusão de curso - Sistemas de Informação - Católica de Santa Catarina</p>
